@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer components {
  .btn-filter {
    @apply border-2 border-solid border-[#ff8243] py-2 px-6 rounded-full  font-bold min-w-[5rem] cursor-pointer capitalize;
  }
}

/* CSS VAriables */
:root {
  /* Fonts */
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;

  /* Colors */
  --primary: #0d0d25;
  --secondary-color: #ff8243;
}

html,
body {
  /* padding: 0 5%; */
  scroll-behavior: smooth;
  margin: 0;
  font-family: var(--secondary-font);
  color: var(--primary);
}
main {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
  font-family: var(--main-font);
}
h1 {
  /* font-size: 80px;
  line-height: 90px; */
}
h2 {
  /* font-size: 38px;
  line-height: 48px; */
}
h3 {
  /* font-size: 28px;
  line-height: 36px; */
}
h4 {
  /* font-size: 24px;
  line-height: 34px; */
}
h5 {
  /* font-size: 1.25rem;
  line-height: 1.2; */
}
/* a {
  color: inherit;
  text-decoration: none;
} */
p {
  font-size: 16px;
  line-height: 30px;
}

* {
  box-sizing: border-box;
}

/* Hero section */
/* .banner-img-wp {
  width: 100%;
  height: 100%;
  padding-left: 30px;
} */

.hero-text-banner {
  background-image: linear-gradient(0deg, rgb(13 13 37 /8%), rgb(13 13 37 /8%));
  background-size: 100% 15px;
  background-position: 0 90%;
  background-repeat: no-repeat;
}

.banner-img {
  /* width: 100%; */
  /* height: 100%; */
  /* background-image: url("../assets/gif/hero-image.gif"); */
  /* background-size: cover;
  background-position: center; */
  animation: biani 4.5s linear infinite alternate;
  /* box-shadow: 0 0px 20px rgba(36, 39, 37, 0.3); */
}

@keyframes biani {
  0% {
    border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
  }
  25% {
    border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
  }
  50% {
    border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
  }
  100% {
    border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
  }
}
